@media(max-width: 768px) {
    .sidebar {
        display: none;
    }

    .info_wrapper{
        margin: 0.5rem 0rem;
        z-index: -999;
    }
    .container{
        width: 100% !important;
        float: none !important;
    }
    
}

