@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --main-color: #1B2D48;
    --secondary-color: rgba(27, 45, 72, 0.1) !important;
    --admin-profile: #1d2a3e;
    --text-color: #fff;
    --title-font: 'Bree Serif', sans-serif;
    --btn-bg    : #0066ff;
}
.container{
    float: right !important;
    width: 75%;
    transition: 0.2s linear;
}

/* sidebar.css  */
.sidebar{
    background-color: var(--main-color);
    height: 100%;
}
.admin_profile{
    color: var(--text-color);
    background-color: var(--admin-profile);

}
/* navbar.css  */
.nav-link{
    color: var(--text-color);
    font-family: var(--title-font);
}
a.nav-link:hover{
    color: var(--text-color);
}
/* main-content.css  */

.card{
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
}
.page_title{font-family: var(--title-font);}

/* after click effect with js  */
.container_expand{
    width: 100% !important;
    float: none !important;
}
